.wrapper {
	width: 100%;
	height: auto;
	padding-top: 80%;
	position: relative;
	background-color: #f2f4f5;
	box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.25);
}

.image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media screen and (min-width: 800px) and (max-width: 1272px) {
	.wrapper {
		padding-top: 50%;
	}
}

@media screen and (min-width: 1273px) {
	.wrapper {
		padding-top: 40%;
	}
}

.no-photo {
	font-family: "Inter", sans-serif;
	font-size: 2rem;
	padding: 20px;
	box-shadow: 0 0 20px 5px #00000025;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgb(112, 112, 112);
	white-space: nowrap;
}
